.objectbody {
  background: rgb(114, 56, 17);
  z-index: 1;
  color: white;
  width: 200px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-family: ubuntu;
  box-shadow: 3px 3px 10px rgba(129, 43, 21, 0.308);
}

div#content {
  width: 300px;
  margin: 20px auto;
}

figure.olho1 {
  position: relative;
  z-index: 2:
  width: 20px;
  padding: 10px;
  border-radius: 100px;
  background: radial-gradient(circle at 10px 10px, #ff5c5c, #0300);
}
figure.olho2 {
  position: relative;
  z-index: 2;
  width: 20px;
  padding: 10px;
  border-radius: 100px;
  background: radial-gradient(circle at 10px 10px, #ff5c5c, #0300);
}












































































































































































































































































































































































































































